* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-image: url("assets/img/contact.jpg");
   background-size:cover;
   background-repeat: no-repeat;
   background-position: 30%;
   height: 80vh;
}

.contact {
    padding: 150px;
}

.reservation__title {
    font-size: 4rem;
    padding-bottom: 50px;
}

.form__group {
    padding-bottom: 20px;
}

.form__label > label {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.form__input > input {
    width: 100%;
    padding: 5px;
    background-color: #f6f5f5;
    border: none;
    outline: none;
    opacity: 0.6;
}

.form__textarea > textarea {
    border: none;
    outline: none;
    background-color: #f6f5f5;
    padding: 10px;
}

.reservation__img > img {
    width: 500px;
    height: 100%;
}

.form__submit > button {
    padding: 10px 20px;
    border: 2px solid #888;
    margin: 50px auto;
    display: flex;
    color: #888;
}

.form__submit > button:hover {
    border-color : #000;
    color: #000;
}