header {
    background-image: url("/assets/img/Menu.jpg");
   background-size:cover;
   background-repeat: no-repeat;
   background-position: 30%;
   height: 120vh;
}

.name__restaurant {
    font-size: 3.5rem;
}

.name__menu {
    font-size: 7rem;
    color: #fff;
    line-height: 1.8;
    letter-spacing: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

@media (max-width: 739px) {
    .name__menu {
        font-size: 2rem;
        letter-spacing: 2px;
        padding: 0;
    }

    .box__dishes {
        padding-right: 0;
    }

    .popular__img {
       padding-right:0 ;
    }
}